/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

/* Tailwind Css & DaisyUi */
@import "tailwindcss";
@theme {
  --font-sans: "Inter", sans-serif;
  --font-heading: "Outfit", sans-serif;
}

@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #ff2c3b;
  --color-secondary:#212529;
}

/* Custom css */

body {
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}